<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <h1>Search...</h1>
    <link rel="stylesheet" href="/css/style.css">
    <div>
        <img class ="frieren"src="/images/frieren.jpeg" alt="frieren">
    </div>
</head>
<body>
    
</body>
</html>