<header>
    <nav>
        <ul>
            <li>
                <a href="/" class="<%= currentRoute === '/' ? 'active' : '' %>">Home</a>
            </li>
            <li>
                <a href="/create" class="<%= currentRoute === '/create' ? 'active' : '' %>">Create User</a>
            </li>
            <li>
                <a href="/edit/:" class="<%= currentRoute === '/edit' ? 'active' : '' %>">Edit User</a>
            </li>
        </ul>
    </nav>
</header>
